$padding: 1em;

.pupil-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -$padding;
	margin-right: -$padding;

	& > li {
		width: 25%;
		padding: $padding;

		& ul {
			list-style: none;
			padding: 0;

			& > li {
				&:nth-child(even) {
					background-color: #f7f7f7;
				}
			}
		}
	}

	&-item {
		padding: 3px;
	}
}